<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Field List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Field List</h1>
<br/><br/>
<div>
    <form th:action="@{/requests/save}" th:object="${form}" method="post">
        <table>
            <tr th:each="request, itemStat : ${form.requestsList}">
                <td>
                    <input hidden th:name="|requestsList[${itemStat.index}].id|" th:value="${request.getId()}"/>
                </td>
                <td>
                    <input th:name="|requestsList[${itemStat.index}].field|" th:value="${request.getField()}" size="100"/>
                </td>
                <td>
                    <input type="checkbox" th:name="|requestsList[${itemStat.index}].active|" th:value="${request.getActive()}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Установить поля для ответа"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>